/* Opiskeluhuoneet */
  

  .error-message {
    text-align: left;
    color:red;
    font-size: 15px;
  }
  
  .content {
  display: flex;
  align-items: flex-start;
  }
  
  
  /* Vasen sivupalkki */
  .vasen-sivupalkki {
    background-color: #F9F9F9;
    color: white;
    width: 300px;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    border-top: grey 1px solid;
  }
  

  .dropbtn {
    background-color: transparent;
    color: #333;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
    border-bottom: rgb(194, 194, 194) 0.5px solid;
    border-top: rgb(194, 194, 194) 0.5px solid;
    border-radius: 1px;
    position: relative;
    }
  
  .dropdown-content {
    display: none; /* Hide dropdown content by default */
    padding: 0;
  }
  
  .dropdown.active .dropdown-content {
    display: block; /* Show dropdown content when dropdown is active */
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    font-size: medium;
    text-decoration: none;
    text-align: center;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(221, 181, 207);
    background: linear-gradient(0deg, rgb(252, 203, 234) 0%, rgb(212, 204, 250) 100%);
  }
  .dropbtn:hover {
    background-color: rgb(221, 181, 207);
    background: linear-gradient(0deg, rgb(252, 203, 234) 0%, rgb(212, 204, 250) 100%);
}
.dropdown.active .dropbtn {
  background-color: rgb(221, 181, 207);
  background: linear-gradient(0deg, rgb(252, 203, 234) 0%, rgb(212, 204, 250) 100%);
}

  
  /* Oikea sivupalkki */
  .oikea-sivupalkki {
    width: 100%;
    display: flex; /* Käytetään flexboxia */
    flex-direction: column;
    align-items: flex-start; /* Asetetaan alkamaan samalta korkeudelta kuin vasen sivupalkki */
  }
  .chat {
    background-color: white;
    height:781px ;
    width: 99.8%;
    border-bottom: #8b5679 1px solid;
    border-right: #8b5679 1px solid;
    border-left: 1px solid #8b5679;
    border-top: #8b5679 1px solid;
    border-radius:0px 15px 0px 0px;
  }
  
  .chat-messages {
    height: calc(100% - 80px);
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    font-size: 14px;
  }
  
  #chat-form {
    width: 100%;
    overflow: auto;
    padding-left: 10px;
  }
  
  #message {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #8b5679;
    border-radius: 8px;
    font-size: 16px;
  }
  
  #message:focus {
    outline: none;
    border-color: #b07c9e;
  }
  
  #chat-form button {
    width: 50px;
    padding: 10px;
    padding-top:8px;
    background-color: #b07c9e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  #chat-form button:hover {
    background-color: #9e658a;
  }
  
  .logout-btn {
    text-decoration: none;
    width: 120px;
    height: 15px;
    margin-top: 20px;
    font-size: 15px;
  }
/* Add arrow icon to the dropdown buttons */
.dropbtn::after {
  content: '\25BE'; /* Downward arrow icon (▾) */
  position: absolute;
  right: 10px; /* Adjust the distance between the arrow and the text */
  top: 50%; /* Adjust the position of the arrow vertically */
  transform: translateY(-50%); /* Center the arrow vertically */
}

/* Rotate arrow icon when dropdown is active */

.dropdown.active .dropbtn::after {
  transform: translateY(-50%) rotate(180deg); /* Rotate arrow and keep it centered */
}