/* Koko sivun asetukset */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: #333;
}

.content {
  display: flex;
  min-height: 100vh;
}

/* Vasen sivupalkki */ 

.vasen-sivupalkki {
  background-color: #383355;
  color: #fff;
  width: 20%;
  max-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #5a5480;
  overflow-y: auto;
}

.dropbtn {
  background-color: transparent;
  color: #f9f9f9;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #5a5480;
  position: relative;
}

.dropbtn:hover {
  background-color: #524c77;
}

.dropdown-content {
  display: none;
  padding: 10px;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 12px 0;
  font-size: 14px;
  text-decoration: none;
  color: #f9f9f9;
  border-bottom: 1px solid #5a5480;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #524c77;
}

/* Keskipalkki eli chatti */

.keskipalkki {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.chat {
  background: rgb(67,64,117);
  background: linear-gradient(90deg, rgba(67,64,117,1) 0%, rgba(230,0,255,0.09) 0%, rgba(121,0,255,0.09) 49%, rgba(176,93,193,0.09) 84%, rgba(190,0,255,0.09) 100%);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  font-size: 14px;
}

#chat-form {
  width: 100%;
  display: flex;
  align-items: center;
}

#message {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  height: 23px;
}

#message:focus {
  outline: none;
  border-color: #b07c9e;
}

#chat-form button {
  background-color: #b07c9e;
  color: white;
  border: 2px solid #b07c9e;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#chat-form button:hover {
  background-color: #9e658a;
}

/* Oikea sivupalkki */

.oikea-sivupalkki {
  background-color: #383355;
  color: #fff;
  width: 20%;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #5a5480;
  padding: 20px;
  box-sizing: border-box;
}

.logout-btn {
  text-decoration: none;
  color: #fff;
  background-color: #b07c9e;
  padding: 12px 40px; /* Increased padding for better click area */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: auto; /* Push button to the bottom */
  box-sizing: border-box; /* Include padding in width calculation */
}

.logout-btn:hover {
  background-color: #9e658a;
}

/* Logo and Header */
.logo {
  background-color: #383355;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.logo img {
  height: 80px;
  width: 70%
}

.otsikko {
  background-color: #dcc8f5d8;
  color: #383355;
  text-align: center;
  padding: 20px;
  width: 100%;
}

/* Info Section */
.info {
  color: #fff;
  text-align: left;
}

.info p {
  text-align: left;
}

/* Contact Section */
.contact {
  color: #fff;
  text-align: left;
  margin-top: 20px;
}

.contact h2 {
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 10px;
}

/* Add spacing between elements */
.oikea-sivupalkki > *:not(:last-child) {
  margin-bottom: 20px;
}

/* Info Section */
.info {
  color: #fff;
}

.info h2 {
  margin-bottom: 10px;
}

.info p {
  margin-bottom: 10px;
  text-align: center;
  font-size:18px;
}

/* Dropdown Title Styling */
.dropdown-title {
  padding: 10px;
  font-size: 16px;
  color: #f9f9f9;
}

/* Menu */
.menu {
  background-color: #383355;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.info {
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

/* Arrow Icon for Dropdown */
.dropbtn::after {
  content: '\25BE';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown.active .dropbtn::after {
  transform: translateY(-50%) rotate(180deg);
}

/* Yksittäinen viesti */
.message {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 50%;
  word-wrap: break-word; /* Lisätään rivinvaihto pitkille sanoille */
  border-style: solid;
  border-color: rgba(171, 135, 238, 0.26);
  border-width: 0.5px;
}

/* Omien viestien tyyli */
.own-message {
  background-color: #ede0f7;
  align-self: flex-end;
  margin-left: auto;
  color: #383355;
}

/* Muiden viestien tyyli */
.received {
  background-color: #ebe3ff;
  align-self: flex-start;
  color: #333;
}

/* Viestin lähettäjä */
.sender {
  font-size: 0.8em;
  color: #383355;
  margin-bottom: 5px;
}

/* Chat-lomake */
#chat-form {
  display: flex;
  margin-top: 10px;
}

/* Chat-otsikko */
#aihealue-otsikko {
  font-size: 20px;
  margin-bottom: 20px;
  color: #383355;
  text-align: center;
}

.lahettaja {
  text-align: right;
}
