/* Rekisteröinnin lomake */
.rekisterointi {
    max-width: 310px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  form h1 {
    text-align: center;
    color: #383355;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    color: #383355;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #b07c9e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #9e658a;
  }
  
  .no-account {
    text-align: center;
    margin-top: 15px;
    color: #383355;
    font-size: 14px;
    margin-bottom: 45px;
  }
  
  .no-account a {
    color: #9e658a;
    text-decoration: none;
    font-weight: bold;
  }
  
  .no-account a:hover {
    text-decoration: underline;
  }
  