<!DOCTYPE html>
<html>
    <head>
        <!-- Tarvittavat meta-tägit. Viewport asettaa eri laitteille sopivan skaalauksen -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Lataa staattiset tiedostot ja yhdistetään css-tiedostoon -->
        {% load static %}
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'base.css'%}"> 
        <!-- Opiskeluseuran favicon -->
       <link rel="shortcut icon" href="{% static 'Tunnus-rosalila.svg' %}"/>
    </head>    

    <!-- HEADER-->
    <body>
        <header>
            <!-- Logo -->
            <div class="vasen-header">
                <a href="{% url 'etusivu' %}">
                    <img class="logo" src="{% static 'Tunnuslogo-rosalila.svg' %}" alt="Opiskeluseuran logo"/>
                </a>
            </div>
            <!-- Kirjautumisominaisuus -->
            <div class="oikea-header">
                <!-- Jos käyttäjä on kirjautunut sisään, näytetään kirjaudu ulos nappi-->
                {% if user.is_authenticated %}
                    <a href="{% url 'uloskirjautuminen' %}" class="logout-btn">Logout</a>
                <!-- Muuten näytetään kirjaudu sisään nappi-->
                {% else %}
                    <button class="open-button" onclick="openForm()">Kirjaudu sisään</button>
                {% endif %}
            </div>
        </header>

        <!-- Kirjautumisnapista avautuva popup-form -->
        <div class="form-popup" id="myForm">
            <form action="{% url 'etusivu' %}" method="post" class="form-container">
                {% csrf_token %}
                <div class="form-close">
                    <!-- (x)-nappia klikattaessa suoritetaan popup.js closeForm()-funktio -->
                    <span class="close" onclick="closeForm()">&times;</span>
                </div>
                <div class="form-logo">
                    <img src="{% static 'Tunnus-rosalila.svg' %}" alt="Logo">
                </div>
                <!-- Otsikot ja syötekentät -->
                <h1>Kirjaudu sisään</h1>
                <div class="form-group">
                    <label for="käyttäjätunnus">Käyttäjätunnus</label>
                    <input type="text" placeholder="Käyttäjätunnus" name="käyttäjätunnus" required>
                </div>
                <div class="form-group">
                    <label for="salasana">Salasana</label>
                    <input type="password" placeholder="Salasana" name="salasana" required>
                </div>
                <!-- Kirjaudu sisään nappi -->
                <button type="submit" class="btn">Kirjaudu sisään</button>
                <!-- Rekisteröitymislinkki -->
                <p class="no-account">Ei käyttäjää? <a href="#">Rekisteröidy.</a></p>
            </form>
        </div>
        
        <!-- Linkkaa popup.js:n tiedostoon -->
        <script src="{% static 'popup.js' %}"></script>


        <!-- Wrapper on vähän niinkuin pussi, jonka sisälle kaikki elementit tulee. 
            Sen avulla on helppo optimoida esim. sivun kokoa ja muita laajia asetuksia.-->
        <div class="wrapper">
            <!-- Tähän väliin tulee muiden sivujen sisältö,
                eli ne ovat headerin ja footerin välissä -->
            {% block content %} {% endblock content %}
        </div>


        <!-- FOOTER -->
        <footer>
            <!-- Logo -->
            <div class="vasen">
                <a href="{% url 'etusivu' %}">
                    <img class="footerlogo" src="{% static 'Tunnus-rosa.svg' %}" alt="Opiskeluseuran logo"/>
                </a>
            </div>

            <!-- Yhteystiedot -->
            <div class="yhteystiedot">
                <h3>Yhteystiedot</h3>
                <div class="yt">
                    <p>Lorem ipsum dolor sit amet,
                        <br> Consectetur adipiscing elit
                        <br> Phasellus feugiat lacinia iaculis </p>
                </div>
            </div>     
        </footer>
    </body>
</html>