<!DOCTYPE html>
<html>
    <!-- Extends toistaa base.html:ssä sijaitsevan headerin ja footerin sivulle -->
    {% extends "base.html" %}
    <!-- Tämän "block content" sisälle tulee taas sisältö, joka halutaan headerin ja footerin väliin-->
    {% block content %}

        <head>
            <title>Opiskeluseura</title>
        </head>

        <!-- Etusivun tekstit -->
        <div class="info">
            <div class="infoteksti">
                <!-- Rekisteröitymisviesti -->
                {% if messages %}
                    <div class="popup">
                        <div class="popup-content">
                            <span class="close-popup" onclick="closePopup()">&times;</span>
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                
                <h1>Etsitkö opiskeluseuraa? </h1>
                <p>
                    OpiskeluSeura on Turun ammattikorkeakoulun opiskelijoille <br>
                    tarkoitettu etäyhteydellä tapahtuvaan yhdessä opiskeluun suunniteltu <br> 
                    sivusto. Rekisteröidy, kirjaudu ja yhdessä opiskelu voi alkaa.
                </p>
                <!-- Tutustu huoneisiin -elementti, joka johtaa kirjautumissivulle -->
                {% if user.is_authenticated %}
                    <a href="{%url 'opiskeluhuoneet'%}"><button class="linkkiteksti">Opiskeluhuoneisiin pääset tutustumaan <br>
                        kirjautumisen jälkeen.</button></a>
                {% else %}
                    <button class="linkkiteksti" onclick="openForm()">Opiskeluhuoneisiin pääset tutustumaan <br>
                        kirjautumisen jälkeen.</button>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</html>