<!DOCTYPE html>
<html>
    <!-- Extends toistaa base.html:ssä sijaitsevan headerin ja footerin sivulle -->
    {% extends "base.html" %}
    <!-- Tämän "block content" sisälle tulee taas sisältö, joka halutaan headerin ja footerin väliin-->
    {% block content %}

        <head>
            <title>Opiskeluseura</title>
        </head>

        <!-- Etusivun tekstit -->
        <div class="info">
            <div class="infoteksti">
                <!-- Rekisteröitymisviesti -->
                {% if messages %}
                    <div class="popup">
                        <div class="popup-content">
                            <span class="close-popup" onclick="closePopup()">&times;</span>
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                
                <h1>Etsitkö opiskeluseuraa?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus feugiat lacinia iaculis. Nunc et sollicitudin ipsum. 
                    Donec feugiat tempus euismod. Nulla facilisi. Vestibulum interdum 
                    nulla in quam molestie.
                </p>
                <!-- Tutustu huoneisiin -elementti, joka johtaa kirjautumissivulle -->
                {% if user.is_authenticated %}
                    <a href="{%url 'opiskeluhuoneet'%}"><button class="linkkiteksti">Tutustu huoneisiin</button></a>
                {% else %}
                    <button class="linkkiteksti" onclick="openForm()">Tutustu huoneisiin</button>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</html>