<!DOCTYPE html>
<html>

<!-- extends toistaa base.html:ssä sijaitsevan headerin ja footerin sivulle-->
{% extends "base.html" %}
{% block content %}
{% load static %}


<body>
    <div class="info">
        <div class="infoteksti">
            <h1>Etsitkö opiskeluseuraa?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Phasellus feugiat lacinia iaculis. Nunc et sollicitudin ipsum. 
                Donec feugiat tempus euismod. Nulla facilisi. Vestibulum interdum 
                nulla in quam molestie.
            </p>
            <a href="{% url 'kirjaudu' %}"> <p class="linkki"> Tutustu huoneisiin </p> </a>
        </div>
    </div>
</body>
{% endblock %}
</html>