<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
    <!-- Opiskeluseuran favicon -->
    <link rel="shortcut icon" href="{% static 'Tunnus-rosalila.svg' %}"/>
</head>
<body>
    <div class="login-container">
        <div class="image-container">
            <!-- Image is contained within its own container -->
            <img src="{% static 'opiskelu.jpg'%}" alt="Placeholder Image">
        </div>
        <div class="kirjautuminen">
            <div class="kirjautumiskortti">
                <h2 class="otsikko">Kirjautuminen</h2>
                <form action="" method="post">
                    <input type="text" class="k-form" name="käyttäjätunnus" placeholder="Käyttäjätunnus" required>
                    <input type="salasana" class="k-form" name="salasana" placeholder="Salasana" required>
                    <button type="submit" class="p-nappi">Kirjaudu</button>
                </form>
                <div class="ohje">
                    Ei käyttäjää? <a href="#" class="ohje2">Rekisteröidy</a>
                </div>
                <div class="logo">
                    <img src="{% static 'Tunnus-rosalila.svg'%}" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</body>
</html>