<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opiskeluhuoneet</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'huoneet.css' %}">
    <link rel="shortcut icon" href="{% static 'Tunnus-rosalila.svg' %}"/>
</head>

<body>
    <!-- Content -->
    <div class="content">
        <!-- Left Sidebar -->
        <div class="vasen-sivupalkki">
            <div class="logo">
                <a href="{% url 'etusivu' %}">
                    <img src="{% static 'Tunnuslogo-rosa.svg' %}" alt="Logo">
                </a>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Matemaattiset</button>
                <div class="dropdown-content">
                    <a href="#">Calculus</a>
                    <a href="#">Johdanto</a>
                    <a href="#">MATLAB</a>
                    <a href="#">Soveltava matikka</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Kielet</button>
                <div class="dropdown-content">
                    <a href="#">Suomi</a>
                    <a href="#">Ruotsi</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Koodaus</button>
                <div class="dropdown-content">
                    <a href="#">Python</a>
                    <a href="#">JavaScript</a>
                    <a href="#">Rust</a>
                    <a href="#">C#</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Fysiikka</button>
                <div class="dropdown-content">
                    <a href="#">Perusteet</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Labrat</button>
                <div class="dropdown-content">
                    <a href="#">Elektroniikka</a>
                    <a href="#">Fysikaaliset mittaukset</a>
                    <a href="#">TVTT</a>
                </div>
            </div>
        </div>
        <!-- Center Column -->
        <div class="keskipalkki">
            <div class="otsikko">
                <h1>Opiskeluhuone</h1>
            </div>
            <!-- Chat Window -->
            <div class="chat">
                <!-- Chat Messages -->
                <div class="chat-messages">
                    <!-- Messages will appear here -->
                </div>
                <!-- Chat Form -->
                <form id="chat-form">
                    <input type="text" id="message" placeholder="Kirjoita viesti...">
                    <button type="submit">&#x2B9E</button>
                </form>
            </div>
        </div>
        <!-- Right Sidebar -->
        <div class="oikea-sivupalkki">
            <div class="menu">
                <a href="{% url 'uloskirjautuminen' %}" class="logout-btn">Kirjaudu ulos</a>
            </div>
            <div class="info">
                <h2>Tervetuloa!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum nulla ac enim mollis, eget sagittis odio interdum.
                    Aliquam ultricies sed sapien nec porta. Sed pretium arcu vel elit vestibulum malesuada.</p>
                <p>Praesent pulvinar, mauris sit amet vehicula auctor, nibh ipsum tempus libero, nec placerat metus metus sit amet nulla.</p>
                <p>Donec eu iaculis risus, eget tincidunt. Ut tincidunt mauris eu felis.   </p>
            </div>
        </div>
    </div>
    <!-- External JS Files -->
    <script src="{% static 'dropdown.js' %}"></script>
</body>

</html>
