<!DOCTYPE html>
<html>

<!-- extends toistaa base.html:ssä sijaitsevan headerin ja footerin sivulle-->
{% extends "base.html" %}
{% block content %}
{% load static %}


<body>
    <div class="oinfo">
        <div class="huoneet">
            <h1>Huoneet</h1>
            <h2>Kielet</h2>
    </div>
    <div class = "kortit">
        <div class = "lainauskortti">
            <img src="{% static 'sweden.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Ruotsi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'finnish.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Suomi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'python.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Python </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'sweden.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Ruotsi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'finnish.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Suomi </h2>
            </div>
        </div>
    </div>
    
    <div class="huoneet">
        <h3>Matemaattiset</h3>
    </div>

    <div class = "kortit">
        <div class = "lainauskortti">
            <img src="{% static 'sweden.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Ruotsi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'finnish.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Suomi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'python.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Python </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'sweden.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Ruotsi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'finnish.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Suomi </h2>
            </div>
        </div>
        </div>

        <div class="huoneet">
            <h3>Fyziikka</h3>
    </div>
    <div class = "kortit">
        <div class = "lainauskortti">
            <img src="{% static 'sweden.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Ruotsi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'finnish.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Suomi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'python.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Python </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'sweden.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Ruotsi </h2>
            </div>
        </div>

        <div class = "lainauskortti">
            <img src="{% static 'finnish.jpg' %}"/>
            <div class = "tekstitausta">
                <h2 class="valiotsikko k-otsikko"> Suomi </h2>
            </div>
        </div>
        </div>
</body>
{% endblock %}
</html>